@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* Navigation */

#logo {
    float: left;
    margin: 12px 0 12px 18px;
}

#logo a {
  display: block;
}

#sidebar {
  background-color: #ED1C24;
    height: 120%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    z-index: 2;
}


#nav {
  margin-top: 80px;
   
   a{
  display: inline-block;
  font-size: 1.4rem;
  line-height:22px;
  font-size: 1.6rem;
  font-style:normal;
  font-weight:100;
  overflow: hidden;
  width: 0px;
  text-decoration:none;
  color:#FFF
   }
   a:hover{
    opacity:0.4;
    color:#FFF
   }
#iconmaster {
  width:20px;
  display:inline;
  padding-right:10px;
}


   #iconmaster a {
    color: rgb(241, 241, 241);
    line-height: 22px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 100;
    text-decoration:none;
    opacity: 1;
    display:inline;
    text-transform: uppercase;
    color:#FFF
    }
    

    #iconmaster a:hover{
       filter: alpha(opacity=100);
       opacity: 0.4;
       text-decoration: none;
    }
    

   

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

 ul li {
  color: #F1F1F1;
  cursor: pointer;
    display: inline-block;
    line-height: 22px;
    filter: alpha(opacity=40);
    font-size: 16px; font-size: 1.6rem;
    font-style: normal;
    font-weight: 100;
    opacity: .4;
    padding: 8px 0 8px 15px;
    text-transform: uppercase;
    width: 70%;
  }

 ul li.active {
  filter: alpha(opacity=100);
  opacity: 1;
  }

 ul li.last {
    padding-right: 0px;
  }

 li span {
  display: inline-block;
  font-size: 14px; font-size: 1.4rem;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-left: 10px;
  width: 0;
  }
}
.btn-navbar {
    cursor: pointer;
    filter: alpha(opacity=40);
    float: left;
    margin: 20px 5px 10px;
    opacity: .4;
    padding: 7px 10px;
}

.btn-navbar .icon-bar {
  background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: none;
    display: block;
    height: 2px;
    width: 18px;
}

/* Expanded Nav Styling */

.expanded #container {
    left: 100px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}

.expanded #sidebar {
  width: 150px;
}

.expanded #nav li {
  width: 90%;
}
.expanded #nav li span {
  display: inline-block;
  height: auto;
  opacity: 1;
  overflow: visible;
  width: auto;

}

.expanded #nav li a{

display: inline-block;
height: auto;
opacity: 1;
overflow: visible;
width: auto;
  }


html {
    font-size: 62.5%;
}

/*
.expanded #nav ul li.active:after {
    content: ">";
    display: block;
    margin-top: -21px;
    position: absolute;
    right: -3px;
    z-index: 2;
}
*/



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
  

